@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/poppins.ttf");
}

/* @font-face {
  font-family: Poppins;
  src: url("./assets/fonts/poppins_bold.ttf");
  font-weight: bold;
} */

* {
  font-family: Poppins !important;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden !important;
}

/* .scan-item:hover {
  transform: scale(1.2);
  transition: 0.2s linear;
} */
